Repository honeycombio/beeline-python, pull requests merged in 2022-01, with the labels that each got.

#202 drop python < 3.5 support, update vulnerable deps
  .circleci/config.yml
  CONTRIBUTING.md
  README.md
  beeline/trace.py
  poetry.lock
  pyproject.toml
Labels: version: bump major, type: maintenance

#203 prepare 3.0.0 release
  .bumpversion.cfg
  CHANGELOG.md
  RELEASING.md
  beeline/version.py
  pyproject.toml
Labels: version: bump major, type: maintenance

#205 add a db.call_count rollup field for number of database queries on django root spans
  beeline/middleware/django/__init__.py
Labels: type: enhancement, version: bump minor

#208 Prepare v3.1.0
  .bumpversion.cfg
  CHANGELOG.md
  beeline/version.py
  pyproject.toml
Labels: type: maintenance, version: no bump
